In [2]:
import wrds
import pandas as pd
db = wrds.Connection(wrds_username='yuheng777')
#Pass: YuhengLin1101

c:\Users\yuanr\anaconda3\Lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

Loading library list...
Done

In [26]:
db.describe_table(library = 'crsp_a_stock', table = 'dsfhdr')

Approximately 37776 rows in crsp_a_stock.dsfhdr.

,name,nullable,type,comment
0,permno,True,INTEGER,PERMNO
1,permco,True,INTEGER,PERMCO
2,hshrcd,True,SMALLINT,Share Code Header
3,dlstcd,True,SMALLINT,Delisting Code Header
4,hcusip,True,VARCHAR(8),CUSIP Header
5,htick,True,VARCHAR(8),Ticker Symbol Header
6,hcomnam,True,VARCHAR(35),Company Name Header
7,htsymbol,True,VARCHAR(10),Trading Symbol Header
8,hnaics,True,VARCHAR(7),North American Industry Classification Header
9,hprimexc,True,VARCHAR(1),Primary Exchange Header
10,htrdstat,True,VARCHAR(1),Trading Status Header
11,hsecstat,True,VARCHAR(1),Security Status Header
12,cusip,True,VARCHAR(8),Header CUSIP Identifier
13,compno,True,DOUBLE PRECISION,NasdaqCompany Number
14,issuno,True,DOUBLE PRECISION,Nasdaq Issue Number
15,hexcd,True,DOUBLE PRECISION,Header Exchange Code
16,hsiccd,True,DOUBLE PRECISION,Header SIC Code
17,numnam,True,DOUBLE PRECISION,Number of Names Structures
18,numdis,True,DOUBLE PRECISION,Number of Distribution Structures
19,numshr,True,DOUBLE PRECISION,Number of Shares Structure
20,numdel,True,DOUBLE PRECISION,Number of Delisting Structures
21,numndi,True,DOUBLE PRECISION,Number of Nasdaq Information Structure
22,begdat,True,DATE,Begin of Stock Data
23,enddat,True,DATE,End of Stock Data
24,begprc,True,DATE,Begin of Price Data
25,endprc,True,DATE,End of Price Data
26,begret,True,DATE,Begin of Return Data
27,endret,True,DATE,End of Return Data
28,begrtx,True,DATE,Begin of Return Data w/o Dividends
29,endrtx,True,DATE,End of Return Data w/o Dividends
30,begbidlo,True,DATE,Begin of Bid or Low Data
31,endbidlo,True,DATE,End of Bid or Low Data
32,begaskhi,True,DATE,Begin of Ask or High Data
33,endaskhi,True,DATE,End of Ask or High Data
34,begvol,True,DATE,Begin of Bid or Low Data
35,endvol,True,DATE,End of Bid or Low Data
36,begbid,True,DATE,Begin of Bid Data
37,endbid,True,DATE,End of Bid Data
38,begask,True,DATE,Begin of Ask Data
39,endask,True,DATE,End of Ask Data
40,begopr,True,DATE,Begin of Open Price
41,endopr,True,DATE,End of Open Price
42,hsicmg,True,DOUBLE PRECISION,Header SIC Major Gorup
43,hsicig,True,DOUBLE PRECISION,Header SIC Industry Group

In [3]:
stock_names = db.raw_sql('select * from crsp_a_stock.dsfhdr')
stock_names['enddat'] = pd.to_datetime(stock_names['enddat'])
stock_names['begdat'] = pd.to_datetime(stock_names['begdat'])
display(stock_names)

,permno,permco,hshrcd,dlstcd,hcusip,htick,hcomnam,htsymbol,hnaics,hprimexc,...,begvol,endvol,begbid,endbid,begask,endask,begopr,endopr,hsicmg,hsicig
0,10000,7952,10,560,68391610,None,OPTIMUM MANUFACTURING INC,OMFGA,None,Q,...,1986-01-07,1987-06-11,None,None,None,None,None,None,39.0,399.0
1,10001,7953,11,233,36720410,None,GAS NATURAL INC,EGAS,221210,A,...,1986-01-09,2017-08-03,1986-09-02,2017-08-03,1986-09-02,2017-08-03,1992-06-15,2017-08-03,49.0,492.0
2,10002,7954,11,231,05978R10,None,BANCTRUST FINANCIAL GROUP INC,BTFG,551111,Q,...,1986-01-10,2013-02-15,1992-06-01,2013-02-15,1992-06-01,2013-02-15,1992-06-15,2013-02-15,60.0,602.0
3,10003,7957,11,231,39031810,None,GREAT COUNTRY BK ASONIA CT,GCBK,None,Q,...,1986-01-14,1995-12-15,1986-03-18,1995-12-15,1986-03-18,1995-12-15,1992-06-15,1995-12-15,60.0,602.0
4,10004,7960,10,575,18906310,None,CLOSE OUTS PLUS INC,CLSO,None,Q,...,1986-01-15,1986-01-17,None,None,None,None,None,None,53.0,533.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37771,93432,53450,11,585,47737R10,None,JIANGBO PHARMACEUTICALS INC,JGBO,541870,Q,...,2010-06-08,2011-05-31,2010-06-08,2011-05-31,2010-06-08,2011-05-31,2010-06-08,2011-05-31,73.0,738.0
37772,93433,53451,11,584,92870X30,None,VOLTARI CORP,VLTC,511210,Q,...,2010-06-18,2016-12-22,2010-06-18,2016-12-22,2010-06-18,2016-12-22,2010-06-18,2016-12-22,99.0,999.0
37773,93434,53427,11,100,78513510,SANW,S & W SEED CO,SANW,111998,Q,...,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,99.0,999.0
37774,93435,53452,11,584,82936G20,None,SINO CLEAN ENERGY INC,SCEI,522310,Q,...,2010-06-14,2012-05-18,2010-06-14,2012-05-18,2010-06-14,2012-05-18,2010-06-14,2012-05-18,61.0,616.0
37775,93436,53453,11,100,88160R10,TSLA,TESLA INC,TSLA,336110,Q,...,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,99.0,999.0

In [8]:
current_stock_names = stock_names[stock_names['enddat'] == pd.Timestamp('2023-12-29')]
current_stock_names = current_stock_names[current_stock_names['begdat'] <= pd.Timestamp('2019-01-01')].reset_index()

display(current_stock_names)

,index,permno,permco,hshrcd,dlstcd,hcusip,htick,hcomnam,htsymbol,hnaics,...,begvol,endvol,begbid,endbid,begask,endask,begopr,endopr,hsicmg,hsicig
0,26,10026,7976,11,100,46603210,JJSF,J & J SNACK FOODS CORP,JJSF,311930,...,1986-02-04,2023-12-29,1986-05-20,2023-12-29,1986-05-20,2023-12-29,1992-06-15,2023-12-29,20.0,205.0
1,28,10028,7978,11,100,29402E10,ELA,ENVELA CORP,ELA,423940,...,1986-02-05,2023-12-29,1992-12-28,2023-12-29,1992-12-28,2023-12-29,1992-06-15,2023-12-29,50.0,509.0
2,32,10032,7980,11,100,72913210,PLXS,PLEXUS CORP,PLXS,334418,...,1986-02-05,2023-12-29,1986-08-19,2023-12-29,1986-08-19,2023-12-29,1992-06-15,2023-12-29,36.0,367.0
3,44,10044,7992,11,100,77467X10,RMCF,ROCKY MOUNTAIN CHOC FAC INC NEW,RMCF,445292,...,1986-02-11,2023-12-29,1992-06-01,2023-12-29,1992-06-01,2023-12-29,1992-06-15,2023-12-29,20.0,206.0
4,65,10065,20023,14,100,00621210,ADX,ADAMS EXPRESS CO,ADX,525910,...,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29,67.0,672.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5667,37765,93426,53443,11,100,92835K10,VPG,VISHAY PRECISION GROUP INC,VPG,334416,...,2010-07-07,2023-12-29,2010-07-07,2023-12-29,2010-07-07,2023-12-29,2010-07-07,2023-12-29,36.0,367.0
5668,37766,93427,53445,12,100,G3323L10,FN,FABRINET,FN,333310,...,2010-06-25,2023-12-29,2010-06-25,2023-12-29,2010-06-25,2023-12-29,2010-06-25,2023-12-29,38.0,382.0
5669,37768,93429,53447,11,100,12503M10,CBOE,C B O E GLOBAL MARKETS INC,CBOE,518210,...,2010-06-15,2023-12-29,2010-06-15,2023-12-29,2010-06-15,2023-12-29,2010-06-15,2023-12-29,73.0,737.0
5670,37773,93434,53427,11,100,78513510,SANW,S & W SEED CO,SANW,111998,...,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,2010-06-14,2023-12-29,99.0,999.0
5671,37775,93436,53453,11,100,88160R10,TSLA,TESLA INC,TSLA,336110,...,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,2010-06-29,2023-12-29,99.0,999.0

In [7]:
import numpy as np
np.random.seed(0)
sample_stock = current_stock_names.sample(n = 50)
display(sample_stock)
print(sample_stock['cusip'].values)

,index,permno,permco,hshrcd,dlstcd,hcusip,htick,hcomnam,htsymbol,hnaics,...,begvol,endvol,begbid,endbid,begask,endask,begopr,endopr,hsicmg,hsicig
3318,24410,77595,11512,11,100,03937C10,ARCB,ARCBEST CORP,ARCB,484121,...,1992-05-13,2023-12-29,1992-05-13,2023-12-29,1992-05-13,2023-12-29,1992-06-15,2023-12-29,42.0,421.0
2771,16857,43350,21664,11,100,85450210,SWK,STANLEY BLACK & DECKER INC,SWK,332510,...,1966-06-15,2023-12-29,1992-12-28,2023-12-29,1992-12-28,2023-12-29,1992-06-15,2023-12-29,34.0,342.0
5557,37499,93158,53101,73,100,25460G19,YINN,DIREXION SHARES E T F TRUST,YINN,525990,...,2009-12-03,2023-12-29,2009-12-03,2023-12-29,2009-12-03,2023-12-29,2009-12-03,2023-12-29,67.0,672.0
2858,18400,52476,20659,11,100,29442910,EFX,EQUIFAX INC,EFX,561499,...,1971-05-11,2023-12-29,1992-12-28,2023-12-29,1992-12-28,2023-12-29,1992-06-15,2023-12-29,73.0,738.0
3743,28947,83272,14427,11,100,44332010,HUBG,HUB GROUP INC,HUBG,488510,...,1996-03-13,2023-12-29,1996-03-13,2023-12-29,1996-03-13,2023-12-29,1996-03-13,2023-12-29,47.0,473.0
2755,16510,41292,6616,11,100,42190610,HCSG,HEALTHCARE SERVICES GROUP INC,HCSG,623110,...,1983-11-23,2023-12-29,1984-12-18,2023-12-29,1984-12-18,2023-12-29,1992-06-15,2023-12-29,73.0,734.0
3605,27621,81116,13447,11,100,92241710,VECO,VEECO INSTRUMENTS INC DEL,VECO,333248,...,1994-11-29,2023-12-29,1994-11-29,2023-12-29,1994-11-29,2023-12-29,1994-11-29,2023-12-29,35.0,355.0
4328,33644,89062,37493,73,100,46428753,IDGT,ISHARES TRUST,IDGT,525990,...,2001-07-13,2023-12-29,2001-07-13,2023-12-29,2001-07-13,2023-12-29,2001-07-13,2023-12-29,67.0,672.0
4213,33048,88372,16512,11,100,91705J20,UONEK,URBAN ONE INC,UONEK,516210,...,2000-06-07,2023-12-29,2000-06-07,2023-12-29,2000-06-07,2023-12-29,2000-06-07,2023-12-29,48.0,483.0
949,4439,14625,54841,11,100,42727J10,HRTG,HERITAGE INSURANCE HOLDINGS INC,HRTG,524126,...,2014-05-23,2023-12-29,2014-05-23,2023-12-29,2014-05-23,2023-12-29,2014-05-23,2023-12-29,63.0,633.0
2600,12716,23660,6304,11,100,17290810,CTAS,CINTAS CORP,CTAS,722410,...,1983-08-19,2023-12-29,1984-02-14,2023-12-29,1984-02-14,2023-12-29,1992-06-15,2023-12-29,23.0,232.0
381,3025,13103,53927,12,100,G6095L10,APTV,APTIV PLC,APTV,336390,...,2011-11-17,2023-12-29,2011-11-17,2023-12-29,2011-11-17,2023-12-29,2011-11-17,2023-12-29,37.0,371.0
29,502,10501,8418,11,100,03050610,AMWD,AMERICAN WOODMARK CORP,AMWD,337110,...,1986-07-18,2023-12-29,1986-08-05,2023-12-29,1986-08-05,2023-12-29,1992-06-15,2023-12-29,24.0,243.0
3474,26216,79637,4655,11,100,91390310,UHS,UNIVERSAL HEALTH SERVICES INC,UHS,622110,...,1982-11-01,2023-12-29,1983-02-08,2023-12-29,1983-02-08,2023-12-29,1992-06-15,2023-12-29,80.0,806.0
684,3808,13965,54434,11,100,64132K20,NBSE,NEUBASE THERAPEUTICS INC,NBSE,325412,...,2013-06-13,2023-12-29,2013-06-13,2023-12-29,2013-06-13,2023-12-29,2013-06-13,2023-12-29,64.0,641.0
2421,7599,18103,56515,11,100,09073N20,BSGM,BIOSIG TECHNOLOGIES INC,BSGM,334510,...,2018-09-21,2023-12-29,2018-09-21,2023-12-29,2018-09-21,2023-12-29,2018-09-21,2023-12-29,99.0,999.0
660,3755,13911,54401,11,100,46266C10,IQV,IQVIA HOLDINGS INC,IQV,541910,...,2013-05-09,2023-12-29,2013-05-09,2023-12-29,2013-05-09,2023-12-29,2013-05-09,2023-12-29,87.0,873.0
4643,34704,90267,45388,14,100,55743710,MCN,MADISON COVERED CALL & EQ STR FD,MCN,525910,...,2004-07-28,2023-12-29,2004-07-28,2023-12-29,2004-07-28,2023-12-29,2004-07-28,2023-12-29,67.0,672.0
3065,21516,70826,21135,44,100,55273810,MFM,M F S MUNICIPAL INCOME TRUST,MFM,525990,...,1986-11-18,2023-12-29,1992-12-28,2023-12-29,1992-12-28,2023-12-29,1992-06-15,2023-12-29,67.0,672.0
443,3207,13296,54010,14,100,10537L10,BWG,BRANDYWINEGLOBAL GL IN OP FD INC,BWG,525910,...,2012-03-28,2023-12-29,2012-03-28,2023-12-29,2012-03-28,2023-12-29,2012-03-28,2023-12-29,67.0,672.0
3740,28908,83233,27374,11,100,39762410,GEF,GREIF INC,GEF,321920,...,1996-03-06,2023-12-29,1996-03-06,2023-12-29,1996-03-06,2023-12-29,1996-03-06,2023-12-29,24.0,244.0
214,2469,12480,53624,11,100,00086810,ACNB,A C N B CORP,ACNB,522110,...,2010-12-20,2023-12-29,2010-12-20,2023-12-29,2010-12-20,2023-12-29,2010-12-20,2023-12-29,60.0,602.0
3348,24682,77900,11705,11,100,12591930,CVU,C P I AEROSTRUCTURES INC,CVU,336413,...,1992-09-17,2023-12-29,1992-09-17,2023-12-29,1992-09-17,2023-12-29,1992-09-17,2023-12-29,37.0,372.0
4962,35744,91359,50864,11,100,55035110,LUNA,LUNA INNOVATIONS INC,LUNA,335921,...,2006-06-02,2023-12-29,2006-06-02,2023-12-29,2006-06-02,2023-12-29,2006-06-02,2023-12-29,87.0,873.0
4768,35157,90744,46866,31,100,82706C10,SIMO,SILICON MOTION TECHNOLOGY CORP,SIMO,334413,...,2005-06-30,2023-12-29,2005-06-30,2023-12-29,2005-06-30,2023-12-29,2005-06-30,2023-12-29,36.0,367.0
144,2217,12209,10059,11,100,53191410,LWAY,LIFEWAY FOODS INC,LWAY,311514,...,1988-12-29,2023-12-29,1992-06-01,2023-12-29,1992-06-01,2023-12-29,1992-06-15,2023-12-29,20.0,202.0
910,4361,14545,54787,11,100,53630X20,LPCN,LIPOCINE INC,LPCN,541715,...,2014-03-21,2023-12-29,2014-03-21,2023-12-29,2014-03-21,2023-12-29,2014-03-21,2023-12-29,20.0,202.0
142,2154,12146,10020,11,100,15870P30,CSBR,CHAMPIONS ONCOLOGY INC,CSBR,325412,...,1988-11-25,2023-12-29,1992-06-01,2023-12-29,1992-06-01,2023-12-29,1992-06-15,2023-12-29,58.0,581.0
1936,6643,17096,50846,73,100,74347B37,CLIX,PROSHARES TRUST,CLIX,525990,...,2017-11-16,2023-12-29,2017-11-16,2023-12-29,2017-11-16,2023-12-29,2017-11-16,2023-12-29,67.0,672.0
4828,35367,90955,47883,11,100,86272A20,SSKN,STRATA SKIN SCIENCES INC,SSKN,339112,...,2005-10-28,2023-12-29,2005-10-28,2023-12-29,2005-10-28,2023-12-29,2005-10-28,2023-12-29,38.0,384.0
978,4500,14687,54880,12,100,G0751N10,AY,ATLANTICA SUSTAINABLE INFRA PLC,AY,221118,...,2014-06-13,2023-12-29,2014-06-13,2023-12-29,2014-06-13,2023-12-29,2014-06-13,2023-12-29,49.0,491.0
1189,5014,15216,55188,18,100,98401710,XHR,XENIA HOTELS & RESORTS INC,XHR,721110,...,2015-02-04,2023-12-29,2015-02-04,2023-12-29,2015-02-04,2023-12-29,2015-02-04,2023-12-29,70.0,701.0
539,3465,13604,54198,11,100,08579W10,BERY,BERRY GLOBAL GROUP INC,BERY,326199,...,2012-10-04,2023-12-29,2012-10-04,2023-12-29,2012-10-04,2023-12-29,2012-10-04,2023-12-29,30.0,308.0
1418,5592,15848,55485,31,100,59071710,MESO,MESOBLAST LTD,MESO,325414,...,2015-11-13,2023-12-29,2015-11-13,2023-12-29,2015-11-13,2023-12-29,2015-11-13,2023-12-29,99.0,999.0
1657,6111,16518,55818,73,100,92790A20,VSHY,VIRTUS E T F TR II,VSHY,525990,...,2016-12-06,2023-12-29,2016-12-06,2023-12-29,2016-12-06,2023-12-29,2016-12-06,2023-12-29,67.0,672.0
533,3452,13584,54183,71,100,86765K10,SUN,SUNOCO LP,SUN,424720,...,2012-09-20,2023-12-29,2012-09-20,2023-12-29,2012-09-20,2023-12-29,2012-09-20,2023-12-29,51.0,517.0
2048,6866,17350,56293,11,100,10862110,BWB,BRIDGEWATER BANCSHARES INC,BWB,551111,...,2018-03-14,2023-12-29,2018-03-14,2023-12-29,2018-03-14,2023-12-29,2018-03-14,2023-12-29,99.0,999.0
4778,35183,90770,44072,73,100,46137V69,GGME,INVESCO E T F TRUST,GGME,525990,...,2005-06-23,2023-12-29,2005-06-23,2023-12-29,2005-06-23,2023-12-29,2005-06-23,2023-12-29,67.0,672.0
1853,6506,16958,56078,73,100,72202L36,MFUS,PIMCO EQUITY SERIES,MFUS,525990,...,2017-09-06,2023-12-29,2017-09-06,2023-12-29,2017-09-06,2023-12-29,2017-09-06,2023-12-29,67.0,672.0
247,2561,12570,20964,11,100,45073V10,ITT,I T T INC,ITT,333996,...,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29,1925-12-31,2023-12-29,35.0,359.0
2239,7271,17764,56349,73,100,46138J77,POWA,INVESCO ET SELF INDEX FD TR,POWA,525990,...,2018-04-09,2023-12-29,2018-04-09,2023-12-29,2018-04-09,2023-12-29,2018-04-09,2023-12-29,67.0,672.0
1926,6630,17083,54917,73,100,46641Q75,JVAL,J P MORGAN E T F TRUST,JVAL,525990,...,2017-11-09,2023-12-29,2017-11-09,2023-12-29,2017-11-09,2023-12-29,2017-11-09,2023-12-29,67.0,672.0
15,253,10252,8179,11,100,45383610,INDB,INDEPENDENT BANK CORP MA,INDB,522110,...,1986-05-14,2023-12-29,1987-04-21,2023-12-29,1987-04-21,2023-12-29,1992-06-15,2023-12-29,60.0,602.0
4362,33759,89233,37493,73,100,46428732,IXJ,ISHARES TRUST,IXJ,525990,...,2001-11-16,2023-12-29,2001-11-16,2023-12-29,2001-11-16,2023-12-29,2001-11-16,2023-12-29,67.0,672.0
3234,23573,76711,37472,11,100,75893220,RGS,REGIS CORP MINN,RGS,812112,...,1991-06-21,2023-12-29,1991-06-21,2023-12-29,1991-06-21,2023-12-29,1992-06-15,2023-12-29,72.0,723.0
5435,37198,92852,53106,11,100,38526M10,LOPE,GRAND CANYON EDUCATION INC,LOPE,611310,...,2008-11-20,2023-12-29,2008-11-20,2023-12-29,2008-11-20,2023-12-29,2008-11-20,2023-12-29,99.0,999.0
2513,7769,18274,56132,73,100,29382888,ERSX,ENTREPRENEURSHARES SERIES TRUST,ERSX,525990,...,2018-12-28,2023-12-29,2018-12-28,2023-12-29,2018-12-28,2023-12-29,2018-12-28,2023-12-29,67.0,672.0
3771,29336,83671,14722,11,100,89785X10,TBI,TRUEBLUE INC,TBI,561320,...,1996-06-13,2023-12-29,1996-06-13,2023-12-29,1996-06-13,2023-12-29,1996-06-13,2023-12-29,73.0,736.0
3556,26994,80432,13001,11,100,02553E10,AEO,AMERICAN EAGLE OUTFITTERS INC NE,AEO,448110,...,1994-04-14,2023-12-29,1994-04-14,2023-12-29,1994-04-14,2023-12-29,1994-04-14,2023-12-29,56.0,561.0
1390,5519,15735,55431,12,100,N3167Y10,RACE,FERRARI N V NEW,RACE,523910,...,2015-10-21,2023-12-29,2015-10-21,2023-12-29,2015-10-21,2023-12-29,2015-10-21,2023-12-29,67.0,679.0

['03937C10' '85450210' '25460G19' '29442910' '44332010' '42190610'
 '92241710' '46428753' '91705J20' '42727J10' '17290810' 'G6095L10'
 '03050610' '91390310' '64132K20' '09073N20' '46266C10' '55743710'
 '55273810' '10537L10' '39762410' '00086810' '12591930' '55035110'
 '82706C10' '53191410' '53630X20' '15870P30' '74347B37' '86272A20'
 'G0751N10' '98401710' '08579W10' '59071710' '92790A20' '86765K10'
 '10862110' '46137V69' '72202L36' '45073V10' '46138J77' '46641Q75'
 '45383610' '46428732' '75893220' '38526M10' '29382888' '89785X10'
 '02553E10' 'N3167Y10']

In [64]:
db.describe_table(library='crsp_a_stock',table='dsf')

Approximately 105258384 rows in crsp_a_stock.dsf.

,name,nullable,type,comment
0,cusip,True,VARCHAR(8),CUSIP Header
1,permno,True,INTEGER,Permanent Security Number
2,permco,True,INTEGER,Permanent Company Number
3,issuno,True,INTEGER,Nasdaq Issue Number
4,hexcd,True,SMALLINT,Exchange Code Header
5,hsiccd,True,INTEGER,Standard Industrial Classification Code
6,date,True,DATE,Date of Observation
7,bidlo,True,"NUMERIC(11, 5)",Bid or Low Price
8,askhi,True,"NUMERIC(11, 5)",Ask or High Price
9,prc,True,"NUMERIC(11, 5)",Price or Bid/Ask Average
10,vol,True,"NUMERIC(10, 0)",Volume
11,ret,True,"NUMERIC(10, 6)",Returns
12,bid,True,"NUMERIC(11, 5)",Bid
13,ask,True,"NUMERIC(11, 5)",Ask
14,shrout,True,DOUBLE PRECISION,Shares Outstanding
15,cfacpr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Prices
16,cfacshr,True,DOUBLE PRECISION,Cumulative Factor to Adjust Shares/Vol
17,openprc,True,"NUMERIC(11, 5)",Price Alternate
18,numtrd,True,INTEGER,Number of Trades
19,retx,True,"NUMERIC(10, 6)",Returns without Dividends

In [21]:
# output the csv file of the data with the given cusip, adding more information about the company
def output_csv(stock, data, years = 5):
    columns_to_add = ['htick', 'hcomnam', 'hsiccd', 'numshr']
    for col in columns_to_add:
        data[col] = data['cusip'].map(stock.set_index('cusip')[col])
        filename = f"./company_price/{data['htick'][0]}_{years}.csv"
        data.to_csv(filename, index = False)

# query the all data of stocks, and output the csv file, needs to run for over 30 minutes
def query_data(stocks, start_d = '2019-01-01', end_d = '2023-12-29'):
    for stock in stocks['cusip'].unique():
        prm = {'cus' : stock, 'start_date' : start_d, 'end_date' : end_d}
        data = db.raw_sql('select cusip, prc, openprc, date from crsp_a_stock.dsf where cusip = %(cus)s and date >= %(start_date)s and date <= %(end_date)s', params = prm)
        output_csv(stocks, data)

#query_data(current_stock_names)

In [7]:
help(db.raw_sql)

Help on method raw_sql in module wrds.sql:

raw_sql(sql, coerce_float=True, date_cols=None, index_col=None, params=None, chunksize=500000, return_iter=False) method of wrds.sql.Connection instance
    Queries the database using a raw SQL string.

    :param sql: SQL code in string object.
    :param coerce_float: (optional) boolean, default: True
        Attempt to convert values to non-string, non-numeric objects
        to floating point. Can result in loss of precision.
    :param date_cols: (optional) list or dict, default: None
        - List of column names to parse as date
        - Dict of ``{column_name: format string}`` where
            format string is:
              strftime compatible in case of parsing string times or
              is one of (D, s, ns, ms, us) in case of parsing
                integer timestamps
        - Dict of ``{column_name: arg dict}``,
            where the arg dict corresponds to the keyword arguments of
              :func:`pandas.to_datetime`
    :param index_col: (optional) string or list of strings,
      default: None
        Column(s) to set as index(MultiIndex)
    :param params: parameters to SQL query, if parameterized.
    :param chunksize: (optional) integer or None default: 500000
        Process query in chunks of this size. Smaller chunksizes can save
        a considerable amount of memory while query is being processed.
        Set to None run query w/o chunking.
    :param return_iter: (optional) boolean, default:False
        When chunksize is not None, return an iterator where chunksize
        number of rows is included in each chunk.

    :rtype: pandas.DataFrame or or Iterator[pandas.DataFrame]


    Usage ::
    # Basic Usage
    >>> data = db.raw_sql('select cik, fdate, coname from wrdssec_all.dforms;', date_cols=['fdate'], index_col='cik')
    >>> data.head()
        cik        fdate       coname
        0000000003 1995-02-15  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1996-02-14  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1997-02-19  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1998-03-02  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y...
        0000000003 1998-03-10  DEFINED ASSET FUNDS MUNICIPAL INVT TR FD NEW Y..
        ...

    # Parameterized SQL query
    >>> parm = {'syms': ('A', 'AA', 'AAPL'), 'num_shares': 50000}
    >>> data = db.raw_sql('select * from taqmsec.ctm_20030910 where sym_root in %(syms)s and size > %(num_shares)s', params=parm)
    >>> data.head()
              date           time_m ex sym_root sym_suffix tr_scond      size   price tr_stopind tr_corr     tr_seqnum tr_source tr_rf
        2003-09-10  11:02:09.485000  T        A       None     None  211400.0  25.350          N      00  1.929952e+15         C  None
        2003-09-10  11:04:29.508000  N        A       None     None   55500.0  25.180          N      00  1.929952e+15         C  None
        2003-09-10  15:08:21.155000  N        A       None     None   50500.0  24.470          N      00  1.929967e+15         C  None
        2003-09-10  16:10:35.522000  T        A       None        B   71900.0  24.918          N      00  1.929970e+15         C  None
        2003-09-10  09:35:20.709000  N       AA       None     None  108100.0  28.200          N      00  1.929947e+15         C  None

In [22]:
fifteen_years_stock = stock_names[stock_names['enddat'] == pd.Timestamp('2023-12-29')]
fifteen_years_stock = fifteen_years_stock[fifteen_years_stock['begdat'] <= pd.Timestamp('2009-01-01')].reset_index()

query_data(fifteen_years_stock)

KeyboardInterrupt:

In [4]:
thirty_years_stock_names = stock_names[stock_names['enddat'] == pd.Timestamp('2023-12-29')]
thirty_years_stock_names = thirty_years_stock_names[thirty_years_stock_names['begdat'] <= pd.Timestamp('2009-01-01')].reset_index()

display(thirty_years_stock_names['cusip'].unique())

array(['46603210', '29402E10', '72913210', ..., '74347Y84', '74347W35',
       '78468R62'], dtype=object)

In [5]:
prm = {'cus' : "29402E10", 'start_date' : '2009-01-01', 'None' : 'NaN'}
data = db.raw_sql('select cusip, prc, openprc, date from crsp_a_stock.dsf where cusip = %(cus)s and date >= %(start_date)s and prc != %(None)s and openprc != %(None)s', params = prm)
# 
display(data)

         cusip     prc  openprc        date
0     29402E10  1.7100   1.6500  2009-01-02
1     29402E10  1.7208   1.7208  2009-01-07
2     29402E10  1.8000   1.8000  2009-01-08
3     29402E10  1.8000   1.7900  2009-01-12
4     29402E10  1.5500   1.6700  2009-01-13
...        ...     ...      ...         ...
3550  29402E10  5.3000   5.2000  2023-12-22
3551  29402E10  5.3800   5.2200  2023-12-26
3552  29402E10  5.2600   5.3800  2023-12-27
3553  29402E10  5.0300   5.1850  2023-12-28
3554  29402E10  4.8600   5.0422  2023-12-29

[3555 rows x 4 columns]